[submodule "lib/shared/glm"]
	path = lib/shared/glm
	url = git@github.com:g-truc/glm.git
[submodule "lib/linux/glew"]
	path = lib/linux/glew
	url = git@github.com:nigels-com/glew.git
[submodule "lib/win/SDL2"]
	path = lib/win/SDL2
	url = git@github.com:spurious/SDL-mirror.git
