nbproject/
obj/
windows/Debug
windows/Release
windows/ipch
windows/Unvoid.opensdf
windows/Unvoid.suo
windows/*.sdf
windows/*.cd
windows/*.psess
windows/*.vsp
windows/x64
bin/example.txt
unvoid.sublime-workspace
testcode
bin/*.dll
lib/win/glew
bin/main